service update_engine /system/bin/update_engine --logtostderr --logtofile --foreground
    class late_start
    user root
    group root system wakelock inet cache media_rw
    writepid /dev/cpuset/system-background/tasks /dev/blkio/background/tasks
    disabled

on property:ro.boot.slot_suffix=*
    enable update_engine

on post-fs-data
    mkdir /data/misc/update_engine 2750 root system
    mkdir /data/misc/update_engine/prefs 2750 root system
